/*Utilities Folder*/
/*Color*/
/*Base Folder*/
/* Main Typography*/
/*Font Weight*/
/*Font Size*/
* {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*Components Folder*/
@media (max-width: 575.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f0f3f4;
    font-weight: 500;
  }
}

@media (max-width: 767.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f0f3f4;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f0f3f4;
    font-weight: 500;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f0f3f4;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f0f3f4;
    font-weight: 500;
  }
}

#btnClearCompletedTasks {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  color: #adb5bd;
}

#btnSave {
  background-color: #76448a;
  color: #f0f3f4;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
}

#btnCrossover {
  border: none;
  background-color: transparent;
  width: 2%;
}

#btnThemeChange {
  border: none;
  background-color: transparent;
}

.tasksFooter p {
  color: #adb5bd;
  font-weight: 500;
}

/*/Layout Folder*/
@media (min-width: 200px) and (max-width: 575.98px) {
  header {
    background-image: url("../../images/bg-mobile-light.jpg");
    background-size: cover;
    height: 50vh;
    position: relative;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    background-image: url("../../images/bg-desktop-light.jpg");
    background-size: cover;
    height: 50vh;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    background-image: url("../../images/bg-desktop-light.jpg");
    background-size: cover;
    height: 50vh;
    position: relative;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    background-image: url("../../images/bg-desktop-light.jpg");
    height: 50vh;
    background-size: cover;
    position: relative;
  }
}

@media (min-width: 1200px) {
  header {
    background-image: url("../../images/bg-desktop-light.jpg");
    background-size: cover;
    height: 50vh;
    position: relative;
  }
}

@media (min-width: 200px) and (max-width: 575.98px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .title-txt h1 {
    color: 300;
  }
  .title-img {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .mainContainer {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 27%;
    left: 10%;
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .mainContainer {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 27%;
    left: 10%;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mainContainer {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 27%;
    left: 10%;
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mainContainer {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 27%;
    left: 10%;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    position: absolute;
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
  }
}

/*Themes Folder*/
/*# sourceMappingURL=style.css.map */