/* Main Typography*/
$montserrat: "Montserrat", sans-serif;

/*Font Weight*/
$light: 300;
$regular: 400;
$bold: 500;
$extra-bold: 700;

/*Font Size*/
$extra-large: 7rem;
$large: 5rem;
$medium: 3rem;
$small: 2rem;
$extra-small: 1rem;
